html{
    min-height: 100%;
	font-size:20px;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}
span {color:red;padding-right:1rem;}
.contenido {
    background-color: white;
    max-width: 50rem;
    margin:  0 auto;
    height: 100%;
    padding:2rem;
}


@media (min-width:768px) {
    .contenedor {
        display: flex;
    }
    .contenedor > div {
        flex: 1 0 50%;
    }
}

.input {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.input input[type="text"] {
    height: 1.5rem;
    padding: 0.05rem;
    display: flex;
    flex: 1;
}

.input input[type="submit"]{
    background-color: #6f86d6;
    padding: .5rem 2rem;
    color: white;
    align-self: flex-end;
    border:none;
	font-size: 1.5rem;
	font-weight:400;
} 
.error {
    padding: 1rem;
    border: 1px solid red;
    background-color: rgb(249, 121, 121);
    color: white;
}
